[BASIC]
#	Indent with tabs.
indent-string='\t'
indent-after-paren=1

#	PEP-compliant line limits.
max-line-length=80

[MESSAGES CONTROL]
#	Disable import specifics. Use general import then surgical import blocks.
disable=E0001,C0411,C0412,C0103,R0201,R0913,R0903,W0613
