@import '../config.less';

@label-width: 150px;

.field {
	text-align: left;
	padding: @space/2 0px;
	margin-bottom: @space;

	label {
		display: inline-block;
		vertical-align: top;
		width: @label-width;
	}
	input {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		font-family: @text-font;
		border: 2px solid @light-grey;
	}
	label + input {
		width: calc(100% - @label-width);
	}
	.error-text {
		padding-top: @space/3;
	}

	&.error { margin-bottom: 0px; }
}

.form-error {
	padding-bottom: @space;
}