@import '../mixins/colors.less';

.field {
	text-align: left;
	margin-bottom: 30px;

	label {
		display: block;
		margin-bottom: 10px;
		font-size: 14pt;
	}
	input {
		display: block;
		width: 100%;
		border: none;
		color: @darks;
		padding: 10px;
		font-size: 14pt;
		border-bottom: 2px solid @borders;
		transition: 0.3333s border-bottom;
	}
	.validation-error-desc {
		font-size: 10pt;
		padding: 5px 0px 0px 5px;
		color: @warning;
	}

	&.validation-error {
		margin-bottom: 7px;
		input {
			border-bottom: 4px solid @warning;
		}
	}
	//	XXX: Responsive.
	&.inline-field {
		label {
			display: inline-block;
			width: 150px;
			margin-right: 20px;
			font-size: 11pt;
		}
		input {
			display: inline-block;
			width: calc(100% - 170px);
			font-size: 11pt;
		}
	}
}

.form-error {
	color: @warning;
	padding-bottom: 10px;
}