@import '../mixins/all.less';

#flash-messages {
	position: fixed;
	top: @top-safety;
	right: 0px;
	z-index: 1000;
	pointer-events: none;
	
	.flash-message {
		pointer-events: all;
		position: relative;
		background-color: @lights;
		border: 1px solid @borders;
		color: @darks;
		padding: @flash-message-space;
		padding-right: @action-icon-size * 2;
		margin: @flash-message-space;
		transition: @anim-time-long transform;
		border-radius: @corners;

		.content-container {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 26px);

			p {
				margin-top: 0px;
				margin-bottom: 10px;
			}

			button {
				margin-left: 0px;
				font-size: 9pt;
			}
		}

		.warning-icon {
			color: @warning;
			margin-right: 10px;
		}

		.dismiss {
			color: @darks;
			position: absolute;
			top: 5px; right: 5px;
			font-size: @action-icon-size;
			cursor: pointer;
		}

		&.out { transform: translateX(200%); }
	}
}