@import '../config.less';

#header {
	height: @header-height;
	background-color: @theme;
	overflow-y: hidden;

	&.collapsed { height: 0px; }
	
	.brand, #user-panel {
		padding: 0px @space;
		line-height: @header-height;
		color: @near-white;
		display: inline-block;
	}
	#user-panel { float: right; }
}
