@import '../config.less';

.modal-container {
	position: fixed;
	z-index: 100;
	top: 0px; bottom: 0px;
	right: 0px; left: 0px;
	background-color: rgba(0, 0, 0, 0.5);

	&.top { z-index: 200; }

	.modal {
		position: relative;
		margin: @space*3 auto 0px auto;
		padding: @space;
		background-color: @near-white;
		border-radius: @corners;

		.modal-exit {
			position: absolute;
			top: @space/2; right: @space/2;
			cursor: pointer;

			&:hover { color: @theme; }
		}
	}
}
